.container {
  font-family: "Nunito", sans-serif;
}

.colorHover {
  position: relative;
  height: 300px;
}

.main {
  position: relative;
  top: -300px;
  padding: 0 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  padding: 20px;
  z-index: 2;
}

.content {
  padding: 0 20px;
}

.content h1 {
  color: rgb(143, 145, 179);
  font-weight: 900;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cardList {
  background: rgba(223, 224, 252, 0.6);
  display: flex;
  border-radius: 8px;
  cursor: pointer;
}

.cardImage {
  width: 80px;
  height: 80px;
}

.cardImage img {
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.cardText {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.cardText p {
  color: rgb(143, 145, 179);
  font-size: 18px;
  font-weight: 800;
}
