.container {
  display: flex;
  position: relative;
}

.card {
  background-color: white;
  border: 2px solid #f0f3f9;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.card:hover {
  background-color: #f0f3f9;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}